<div class="dialog_translucent_background">
	<div class="dialog">
		<div class="dialog_title">
			Dialog
		</div>
		<div class="dialog_content">
			Dialog
		</div>
		<div class="dialog_footer">
			<div class="dialog_footer_button">
				SAVE
			</div>
			<div class="dialog_footer_button">
				CANCEL
			</div>
		</div>
	</div>
</div>
