$('.center_column .tab_container').html('<div class="profile_center">\
				<% for i in 1..10 %>\
				<%= image_tag("profile#{i%4}.jpg", :class => "result_photo") %>\
				<% end %>
		</div>');

$('.right_column .tab_container').hide();
		
