<div style="width: 960px;margin:auto;padding: 10px">
	<div style="margin: 5px;">
		<%= link_to "<=back", "/main/home/" %>
	</div>
	<div style="font-size: 25px">
		Let Go Surfing <a href="/main/events/" style="font-size: 14px;" class="circle tag">#Surfing</a>
		<a href="/main/events/" style="font-size: 14px;" class="circle tag">#Sport</a>
	</div>
	<div>
		invided by Norman
	</div>
	<div style="width: 20%; float: left;margin-top: 10px;height:100%">
		<div style="border-top: 1px solid #999;">
			Goging
			<div style="padding-left: 10px;">
				<div>
					Norman
				</div>
				<div>
					A-man
				</div>
			</div>
		</div>
		<div style="border-top: 1px solid #999;">
			Maybe
			<div style="padding-left: 10px;">
				<div>
					Norman
				</div>
				<div>
					A-man
				</div>
			</div>
		</div>
		<div style="border-top: 1px solid #999;">
			Invided
			<div style="padding-left: 10px;">
				<div>
					Norman
				</div>
				<div>
					A-man
				</div>
			</div>
		</div>
	</div>
	<div style="float: left;margin-top: 10px;border-left: 1px solid #999;border-top:1px solid #999;">
		<div style="padding: 10px 10px 10px;width: 493px;">
			<ul>
				<li style="height: 28px;border-bottom: 1px solid #999;">
					<ul>
						<li>
							<div style="zoom: 1;float: left; font-size: 13px;margin-right: 20px;">
								<img style="vertical-align:text-top;" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yJ/r/UmLbGfwEuH6.png" title="When" width="16" height="16">
								<a href="/events/calendar/2013/September/9" style="text-decoration: none;">Monday, September 9, 2013</a>
							</div>
						</li>
						<li>
							<div style="zoom: 1;float: left; font-size: 13px;margin-right: 20px;border-left: 1px solid #999; padding-left: 10px;">
								<img style="vertical-align:text-top;" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/y0/r/MY8128-Z6ed.png" title="Time" width="16" height="16">
								<a href="/ajax/events/edit_form.php?fbid=304759993001019&amp;focus=time" style="text-decoration: none;">What time?</a>
							</div>
						</li>
					</ul>
				</li>
				<li style="margin-top: 10px;">
					<table>
						<tr>
							<td> #aksdjflkasjdfkjl </td>
						</tr>
					</table>
				</li>
			</ul>
			<div style="float: left;position: relative;margin-top: 10px">
				<img alt="Norman Chen" src="/assets/map.jpg">
				<div style="position: absolute;top: 50px;width: 493px;">
					<div style="margin: auto;width: 340px;position: relative;margin: auto;">
						<input id="q" name="q" type="text" style="width: 100%">
					</div>
				</div>
			</div>
		</div>
		<div style="border-bottom: 1px solid #999;">asdfasfdas</div>
		<div style="border-bottom: 1px solid #999;">asdfasfdas</div>
		<div style="border-bottom: 1px solid #999;">asdfasfdas</div>
		<div style="border-bottom: 1px solid #999;">asdfasfdas</div>
		<div style="border-bottom: 1px solid #999;">asdfasfdas</div>
		<div style="border-bottom: 1px solid #999;">asdfasfdas</div>
		
		
	</div>
</div>