// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	font-family: 'CenturyGothic', arial;
}

$common_title_background_color:#ff607a;
$center_contain_width:543px;

a {
  text-decoration: none;
}
.title_container {
	width: 960px;
	height: 30px;
	margin: 0 auto;
	background-color: $common_title_background_color;
	position: relative;
}

.top_title {
  z-index:9999;
  position: fixed !important;
  width: 100%;
  background-color: #ff607a
}

.title_tabs {
	float: left;
	margin-left: 20%;
	position: absolute;
	top: auto;
	bottom: 0px;
}

.iToGo {
	width: 20%;
	float: left;
}
.logout {
	float: right;
	color: #ffffff;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

.center_column {
	width: $center_contain_width;
	padding: 10px;
	float: left;
	border-left: 1px;
	border-left-style: solid;
	border-right: 1px;
	border-right-style: solid;
}

.left_column {
	width: 20%;
	float: left;
	font-size: 13px;
	line-height: 18px;
}

.right_column {
	padding:10px;
	float: left;
}
.profile_name {
	position: relative;
	font-size: 13px;
	width: 100px;
	top: 40px;
	float: right;
}
.top_profile {
	height: 80px;
	border-bottom: 1px;
	border-bottom-style: solid;
}

.profile_photo {
	float: left;
	margin-right: 10px;
}

.circle {
  padding:2px 5px 2px;
	border-radius: 7px;
	font-size: 1.0em;
}

.chat {
	margin-right: 10px;
}
.tags {
	background: #feffc3;
	padding: 10px;
}

.tag{
  text-decoration: none;
  background:$common_title_background_color; 
}

.selfedit {
	color: #747474;
	font-size: 13px;
	border-top: 1px solid #999;
}
.result_photo {
	height: 87px;
	width: 87px;
}
.result_photo1 {
	height: 60px;
	width: 60px;
}
#bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(image-path("bg1.jpg") );
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
	z-index: 0;
}
#user_nav {
	position: relative;
	padding: 10px;
	margin-top: 20%;
	background-color: rgba(255,96,122,0.5);
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	font-family: 'Londrina Shadow', cursive;
}
#text1 {
	color: #ffffff;
	font-size: 30px;
	text-shadow: 1px 1px 1px #000000;
	font-family: 'Londrina Shadow', cursive;
}
#text2 {
	color: #ffffff;
	font-size: 26px;
	text-shadow: 1px 1px 1px #000000;
	font-family: 'Londrina Shadow', cursive;
	text-decoration: none;
}
#user_nav img {
	width: 200px;
	cursor: pointer;
	opacity: 0.9;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.tabs {
	width: 100%;
	height: 32px;
}
ul.tabs li {
	float: left;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	margin-bottom: -1px; /* 讓 li 往下移來遮住 ul 的部份 border-bottom */
	border: 1px solid #999;
	border-left: none;
	background: #e1e1e1;
}
ul.tabs li a {
	display: block;
	padding: 0 20px;
	color: #000;
	border: 1px solid #fff;
	text-decoration: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
ul.tabs li.active {
	background: #fff;
	border-bottom: 1px solid #fff;
}
ul.tabs li.active a:hover {
	background: #fff;
}

div.left_column div.active {
	font-weight: bolder;
}
div.tab_container {
	clear: left;
	width: 100%;
	border-top: none;
	background: #fff;
	padding: 0px 0px 20px;
}
div.tab_container .tab_content {
	padding: 0px 0px 20px;
	overflow: scroll;
}
div.tab_container .tab_content h2 {
	margin: 0 0 0px;
}
.decoration {
	text-decoration: none;
	color: #747474;
}
.center_top {
	font-size: 13px;
	text-align: left;
	color: #747474;
	width: 100%;
	height: 70px;
}
.top_3 {
	float: right;
}
.top_2 {
	float: left;
}

.top_4 {
	float: left;
	width: 300px;
}
.top_1 {
	float: left;
	width: 70px;
}
.center_center {
	width: 100%;
	height: 350px;
	border-bottom: 3px solid #d5d5d5;
	border-top: 3px solid #d5d5d5;
}
.center_bottom {
	width: 100%;
	height: 100px;
}
.chat_input {
	height: auto;
	width: $center_contain_width;
}
.chat_bottom {
	float: right;
}
.result_events {
	width: 80px;
	height: 80px;
}
.events_block {
	float: left;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #747474;
}
.events_pic {
	width: 80px;
	float: left;
}
.events_info {
	float: left;
	width: 416px;
	font-size: 13px;
	text-align: left;
	color: #747474;
}
.events_bottom {
	float: right;
	color: #747474;
}

.event_new {
	float: right;
	text-decoration: none;
}

.event_new:hover {
	background: #ccc;
}

.dialog_translucent_background {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 400;
	background-color: rgba(0,0,0,0.4);
}

$dialog_aroung_padding :5px;
.dialog {
	margin:0 auto;
	width:445px;
	background-color: #ffffff;
}

#index_footer{
 
  padding: 5px;
  width:250px;
  position: fixed;
  bottom: 0;
  left:40%;
  background-color: rgba(255,96,122,0.5);
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  font-family: 'arial';

}
.profile {
  text-decoration: none;
  color: #747474;
}

.dialog_title{
	padding:$dialog_aroung_padding;
	color:#F7F7F7;
	background-color:$common_title_background_color;
}

.dialog_content{
  padding:$dialog_aroung_padding;
}

.dialog_footer{
  border-top: 1px;
  border-top-color:$common_title_background_color;
  border-top-style: solid;
  padding:$dialog_aroung_padding;
  width:auto;
  margin:0 auto;
  height:100%;
}
.dialog_footer_button{
  text-align:center;
  float:right;
  background-color:$common_title_background_color;
  margin:$dialog_aroung_padding;
}

.dialg_label{
  color: #666;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

.dialog_data{
  width:95%;
}

.uiInfoTable {
border: 0;
border-collapse: collapse;
border-spacing: 0;
width: 100%;

}
